{% extends "layout.html" %}

{% block content%}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">

        <a class="navbar-brand" href="#">
          <strong>Logo</strong>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav navbar-right mr-auto">
          </ul>

          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-fw fa-home"></i>Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">About Pariksha</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank">Prices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" target="_blank"><i class="fa fa-fw fa-user"></i><strong>Login</strong></a>
            </li>
          </ul>

        </div>

      </div>
    </nav>

    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="view" style="background-image: url(&apos;https://images.pexels.com/photos/3804783/pexels-photo-3804783.jpeg?cs=srgb&dl=pexels-bongkarn-thanyakij-3804783.jpg&fm=jpg&apos;); background-repeat: no-repeat; background-size: cover;">

            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong>Pariksha</strong>
                </h1>
                <p>
                  <h3><strong>A solution to online education</strong></h3>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong>It is a unified online platform in the form of a website for conducting assessments and taking assignments, storing the responses for grading and automatically producing performance analytics, and extending upon these providing institutions, teachers and students a place to maintain and access results</strong>
                </p>

                <a target="_blank" href="#" class="btn btn-outline-white btn-lg" id="buttonstart">Start Now
                  <i class="fa fa-graduation-cap ml-2"></i>
                </a>
              </div>

            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="view" style="background-image: url(&apos;https://images.pexels.com/photos/239548/pexels-photo-239548.jpeg?cs=srgb&dl=pexels-pew-nguyen-239548.jpg&fm=jpg&apos;); background-repeat: no-repeat; background-size: cover;">

            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong>Pariksha</strong>
                </h1>
                <p>
                  <h3><strong>A solution to online education</strong></h3>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong>It is a unified online platform in the form of a website for conducting assessments and taking assignments, storing the responses for grading and automatically producing performance analytics, and extending upon these providing institutions, teachers and students a place to maintain and access results</strong>
                </p>

                <a target="_blank" href="#" class="btn btn-outline-white btn-lg" id="buttonstart">Start Now
                  <i class="fa fa-graduation-cap ml-2"></i>
                </a>
              </div>

            </div>

          </div>
        </div>

        <div class="carousel-item">
          <div class="view" style="background-image: url(&apos;https://images.pexels.com/photos/4468010/pexels-photo-4468010.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4468010.jpg&fm=jpg&apos;); background-repeat: no-repeat; background-size: cover;">

            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

              <div class="text-center white-text mx-5 wow fadeIn">
                <h1 class="mb-4">
                  <strong>Pariksha</strong>
                </h1>
                <p>
                  <h3><strong>A solution to online education</strong></h3>
                </p>

                <p class="mb-4 d-none d-md-block">
                  <strong>It is unified online platform in the form of a website for conducting assessments and taking assignments, storing the responses for grading and automatically producing performance analytics, and extending upon these providing institutions, teachers and students a place to maintain and access results</strong>
                </p>

                <a target="_blank" href="#" class="btn btn-outline-white btn-lg" id="buttonstart">Start Now
                  <i class="fa fa-graduation-cap ml-2"></i>
                </a>
              </div>

            </div>

          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

    <main>
      <div class="container">

        <hr class="my-5">

        <section>

          <h1 class="h3 text-center mb-5">About Pariksha</h1>

          <div class="row wow fadeIn">

            <div class="col-lg-6 col-md-12 px-4">

              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fa fa-long-arrow-right fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h5 class="feature-title">1. </h5>
                  <p class="grey-text">Pariksha is a unified online platform in the form of a website for conducting assessments and taking assignments, storing the responses for grading and automatically producing performance analytics, and extending upon these providing institutions, teachers and students a place to maintain and access results. </p>
                </div>
              </div>


              <div style="height:30px"></div>


              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fa fa-long-arrow-right fa-2x blue-text"></i>
                </div>
                <div class="col-10">
                  <h5 class="feature-title">2.</h5>
                  <p class="grey-text">Teachers can choose from test templates like Multiple Choice Questions, subjective papers, etc. or create them from scratch, choose manual or automatic grading, set invigilation - none, manual or AI based and publish and schedule the tests for students.
                  </p>
                </div>
              </div>


              <div style="height:30px"></div>


              <div class="row">
                <div class="col-1 mr-3">
                  <i class="fa fa-long-arrow-right fa-2x cyan-text"></i>
                </div>
                <div class="col-10">
                  <h5 class="feature-title">3.</h5>
                  <p class="grey-text">Students will be able to use our platform from laptops, smartphones, and tablets to give the tests or submit assignments and view results among other things</p>
                </div>
              </div>

            </div>
            <div class="col-lg-6 col-md-12">

              <p class="h5 text-center mb-4">A video on Pariksha</p>
              <div class="embed-responsive embed-responsive-16by9" padding="100px">
                <iframe class="embed-responsive-item" src="#" allowfullscreen></iframe>
              </div>
            </div>

          </div>

        </section>

        <hr class="my-5">

        <section>

          <h1 class="my-5 h3 text-center">Features</h1>

          <div class="row features-small mb-5 mt-3 wow fadeIn">

            <div class="col-md-4">
              <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Feature</h6>
                  <p class="grey-text">Use our platforms for assignment submission and plagiarism verification.
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Feature</h6>
                  <p class="grey-text">Create tests using our templates - multiple choice questions, subjective questions .
                  <div style="height:15px"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                 <h6 class="feature-title">Feature</h6>
                  <p class="grey-text">Provide students with ungraded question bank based or AI generated exercises and get analytics on who should give more attention to what
                  <div style="height:15px"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Feature</h6>
                  <p class="grey-text"> Choice to use our services on an institute's own infrastructure (for privacy concerns) and make it hybrid to avoid crashes on getting unusual traffic
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>

            </div>

            <div class="col-md-4 flex-center">
              <img src="assets/survey.jpg" alt="pic" class="z-depth-0 img-fluid">
            </div>

            <div class="col-md-4 mt-2">

              <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Feature</h6>
                  <p class="grey-text">Create custom tests from scratch,conduct exams, tests and quizzes on other websites and use our website to store the results
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Feature</h6>
                  <p class="grey-text">Conduct live video monitored examinations using AI proctoring.
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                 <h6 class="feature-title">Feature</h6>
                  <p class="grey-text">Ease of use.Live student monitoring and crash-proof implementation
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                 <h6 class="feature-title">Feature</h6>
                  <p class="grey-text">Use our website along with vivas - instant question-answer, multi-user whiteboard for explanations
                  </p>
                  <div style="height:15px"></div>
                </div>
              </div>

            </div>


          </div>

        </section>


        <hr class="my-5">

      </div>
    </main>
{% endblock content %}