@media (min-width: 800px) and (max-width: 850px) 
{
   .navbar:not(.top-nav-collapse)
    {
        background: #1C2331!important;
    }
}

.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html
{
	height:100%
}
.navbar
{
	background-color:rgba(0,0,0,.2)
}
h1
{
  font-size: 70px;
  color: #00000;
}

#buttonstart:hover
{
  background-color: black;
  text-decoration-color: blue;
}
.page-footer,
.top-nav-collapse
{
	background-color:#1C2331
}
@media only screen and (max-width:768px)
{
	.navbar
     {
     	background-color:#1C2331
     }
}

*
{
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color:#A9A9A9;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
